<!DOCTYPE html>
<html>
  <head>
    <title>${DISPLAY_NAME}</title>
  </head>
  <body>
    <h1>
      Congratulations!
    </h1>
    <h2>
      If you can see this page then you have successfully integrated Xomi with this application.
    </h2>
    <p>
      If you want to learn more about how this application works, try the link to the knowledge base article in the related links below.
    </p>
    <p>
      Thanks for choosing Xomi.
    </p>
    <p>
      <a href="{{SIGN_OUT_PATH}}">Sign out</a>
    </p>
    <h3>
      Related links
    </h3>
    <ul>
      <li>
        <a href="https://developers.xomi.cloud/knowledge-base/anatomy-of-secure-application">Knowledge base - The Anatomy of a Secure Application</a>
      </li>
      <li>
        <a href="https://developers.xomi.cloud/tutorial/javascript-lambda">Developers - JavaScript Lambda Tutorial</a>
      </li>
      <li>
        <a href="https://github.com/xomicloud/javascript-secure-application">JavaScript Secure Application on GitHub</a>
      </li>
    </ul>
  </body>
</html>
